<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/flights">View all flights</a></p>
    <p><a href="/flights/new">Create a new flight</a></p>
  </body>
</html>
